html {
  background-color: #c9b5ab;
  font-weight: normal;
}

head {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

body {

}

header {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
}

nav ul {

}

blockquote {
  line-height: 1.5;
}

footer {

}


font-family: 'PT Sans', sans-serif;

font-family: 'PT Serif', serif;
