html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
}

title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

h1, h2, h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

body {

}

header {
  font-size: 1.125rem;
}

ul + li {
  color: #8f2440;
}

main figcaption {
  text-align: center;
  font-style: italic;
}

main div {
  font-size: 1.125rem
}

main blockquote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
}

 .days {
  font-weight: bold;
  font-size: 1.5rem;
}

footer {

}

link {

}

font-family: 'PT Sans', sans-serif;

font-family: 'PT Serif', serif;
