html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
}

title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

header {
  font-size: 1.125rem;
}

h1, h2, h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

.link {
  color: #8f2440;
}

main figcaption {
  text-align: center;
  font-style: italic;
}

main div {
  font-size: 1.125rem
}

.days {
 font-weight: bold;
 font-size: 1.5rem;
}

main blockquote {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
}
